<h1>All listings</h1>

<%= link_to 'New Listing', new_listing_path %>

<% @listings.each do |listing| %>
  <div class="listing">
    <h3><%= link_to listing.name, listing %></h3>
    Location: <%= listing.location %><br>
    Description: <%= listing.description %><br>
    Price: <%= listing.price %><br>
    Rating: <%= listing.rating %><br>
    Available Time: <%= listing.start %>-<%= listing.end %>
  </div>
<% end %>
