<h1>All listings</h1>

<%= link_to 'New Listing', new_listing_path %>

<% @listings.each do |listing| %>
  <div class="listing">
    <h3>Name: <%= link_to listing.name, listing %></h3>
    Location: <%= listing.location %>
    Description: <%= listing.description %>
    Price: <%= listing.price %>
    Rating: <%= listing.rating %>
  </div>
<% end %>
