<h3>♛ <%= @listing.name %> ♛</h3>
<h4>Location: <%= @listing.location %></h4>
<h4>Description: <%= @listing.description %></h4>
<h4>Price: $<%= @listing.price %></h4>
<h4>Rating: <%= @listing.rating %></h4>
<h4>Available Time: <%= @listing.start.strftime('%b %e, %l:%M %p') %>-<%= @listing.end.strftime('%b %e, %l:%M %p') %></h4>

<%= link_to 'Edit Listing', edit_listing_path(@listing) %>
| <%= link_to 'Delete Listing', listing_path(@listing), method: :delete, data: {confirm: "Are you sure you want to delete the listing '#{@listing.name}'? This cannot be undone!"} %>
|
<% if current_user %>
  bookings.each do |b|

<%= link_to "Book Now", new_listing_booking_path(@listing) %>
<% else %>
  <%= link_to "Sign Up", new_users_path %>
<% end %>
|
<%= link_to "All Bookings", listing_bookings_path(@listing) %>
<% if current_user %>
  bookings.each do |b|
  
