<div class="show_listing_container">

  <div class="show_listing_navcontainer">
    <% if @listing.user == current_user %>
    <nav class="show_listing_nav">
      <%= link_to 'Edit Listing', edit_listing_path(@listing), class: "listing_link_edit" %>
      |
      <%= link_to 'Delete Listing', listing_path(@listing), class: "listing_link_delete", method: :delete, data: {confirm: "Are you sure you want to delete the listing '#{@listing.name}'? This cannot be undone!"} %>
      |
      <%= link_to 'Back To All Listings', listings_path, class: "listing_link_alll" %>
      |
      <%= link_to "All Bookings", listing_bookings_path(@listing), class: "listing_link_allb" %>
    </nav>
    <% end %>
  </div>
  <div class="show_listing_body">
    <div class="show_listing_body_info">
      <div class="show_listing_body_info_head">
        <div class="show_listing_available">
          <% if @listing.available_hours %>
            Available from <%= @listing.available_hours %>
          <% else %>
            Unavailable for booking
          <% end %>
        </div>
        <h3><%= @listing.name %></h3>
        <p><%= @listing.user.first_name %> <span class="massageme"><%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @listing.user.id), method: 'post'%></span></p>
        <h4>Location: <%= @listing.address %></h4>
        <h4>Price: $<%= @listing.price %>/hour</h4>
        <h4>Available Time: <%= @listing.human_time_start %> - <%= @listing.human_time_end %></h4>
        <h4>Average rating: <%= @listing.reviews.average(:rating).to_i %></h4>
      </div>
      <div class="listing_image">
        <p><%= image_tag @listing.image.url(:medium) %></p>
      </div>
    </div>
    <div class="listing_show_booking_form">
      <% if current_user %>
        <% if current_user.bookings.find_by(listing_id: @listing.id) %>
          <span>You booked this listing for <%= current_user.bookings.find_by(listing_id: @listing.id).human_time %> today</span>
        <% else %>
          <%= render '/bookings/form_bookings' %>
        <% end %>
      <% else %>
        <%= link_to "Sign Up", new_user_path, class: "listing_link_signup" %>
      <% end %>
    </div>
    <div class="show_listing_body_reviews">
      <h4>Description:</h4>
      <p><%= @listing.description %></p>
        <% @listing.reviews.each do |review| %>
          <p><%= review.user.first_name %> rated:<span class="stars"><%= review.rating %></span></p>
          <p><%= review.comment %></p>
        <% end %>
    </div>
  </div>
</div>
