<h3><%= @listing.name %></h3>
<h4>Location: <%= @listing.location %></h4>
<h4><%= image_tag @listing.user.avatar.url(:thumb) %> <%= @listing.user.first_name %> <span class="massageme"><%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @listing.user.id), method: 'post'%></span></h4>
<%= image_tag @listing.image.url(:medium) %>
<h4>Description: <%= @listing.description %></h4>
<h4>Price: $<%= @listing.price %>/hour</h4>
<h4>Available Time: <%= @listing.human_time_start %> - <%= @listing.human_time_end %></h4>
<h4>Rating: <%= @listing.reviews.average(:rating).to_i %></h4>
<% @listing.reviews.each do |review| %>
<h4>Review: <%= review.comment %></h4>
<% end %>

<%= link_to 'Edit Listing', edit_listing_path(@listing) %>
| <%= link_to 'Delete Listing', listing_path(@listing), method: :delete, data: {confirm: "Are you sure you want to delete the listing '#{@listing.name}'? This cannot be undone!"} %>
|
<% if current_user %>
  <% if current_user.bookings.find_by(listing_id: @listing.id) %>
    <span>Booked <%= current_user.bookings.find_by(listing_id: @listing.id).human_time %></span>
  <% else %>
    <%= link_to "Book Now", new_listing_booking_path(@listing) %>
  <% end %>
<% else %>
  <%= link_to "Sign Up", new_users_path %>
<% end %>
|
<%= link_to 'Back To All Listings', listings_path %>
|
<%= link_to "All Bookings", listing_bookings_path(@listing) %>
