<%= form_for @booking do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :date %>
    <%= f.text_field :date %>
  </p>

  <p>
    <%= f.label :time %>
    <%= f.text_area :time %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
