<%= form_for([@listing, @booking]) do |f| %>
  <p>
    <%= f.label :date, 'Please Choose A Date' %><br>
    <%= f.date_field :date, min: Date.today %>
  </p>

  <p>
    <%= f.label :start_time, 'Please Choose A Start Time' %><br>
    <%= f.time_field :start_time%>
  </p>
  <p>
    <%= f.label :end_time, 'Please Choose An End Time' %><br>
    <%= f.time_field :end_time %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
