<% if @booking.errors.any? %>
  <ul class="error">
    <% @booking.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for([@listing, @booking]) do |f| %>
  <p>
    <%= f.label :date, 'Please Choose A Date' %><br>
    <%= f.date_field :date, min: Date.today %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
