<% @bookings.where(date: Date.today).each do |booking| %>
<div class="users bookings">
  <h3><%= link_to booking.listing.name, listing_path(booking.listing.id) %></h3>
  <%= link_to 'Delete', listing_booking_path(booking.listing.id, booking.id), method: :delete, data: {confirm: "Are you sure you want to delete the booking '#{booking.id}'? This cannot be undone!"} %>
  <p><%= booking.listing.address %></p>
  <p>$<%= booking.listing.price %></p>
  <p><%= booking.date %> at <%= booking.human_time %></p>
  <% if booking.listing.reviews.find_by(user_id: current_user.id) %>
    <p>Comment: <%= booking.listing.reviews.find_by(user_id: current_user.id).comment %></p>
    <p>Rating: <%= booking.listing.reviews.find_by(user_id: current_user.id).rating %></p>
    <%= link_to 'Edit', edit_review_form_path(review_id: booking.listing.reviews.find_by(user_id: current_user.id).id), remote: true %>
    <%= link_to 'Remove', reviews_path(review_id: booking.listing.reviews.find_by(user_id: current_user.id).id), method: :delete, data: {confirm: "Are you sure you want to delete the booking '#{booking.id}'? This cannot be undone!"}%>
  <% else %>
    <%= link_to 'Review', review_form_path(listing_id: booking.listing.id), remote: true %>
  <% end %>
</div>
<% end %>
