<% @bookings.each do |booking| %>
  <h3><%= booking.listing.name %></h3>
  <p><%= booking.listing.location %></p>
  <p>$<%= booking.listing.price %></p>
  <p><%= booking.date %> at <%= booking.time %></p>
<% end %>
