<%= form_for @review, url: { controller: "reviews", action: "create" } do |f| %>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_field :comment  %>
  </p>

  <p>
    <%= f.label :rating %><br>
    <%= f.number_field :rating, max: 5 %>
  </p>

  <p>
    <%= f.hidden_field :listing_id, value: params[:listing_id] %>
  </p>

  <p>
    <%= f.submit "Review"%>
  </p>

<% end %>
