<section class="userprofileimage">
  <div class="profileheader">
    <i class="fa fa-user" aria-hidden="true"></i>
    Profile.
  </div>
</section>

<div class="profileblankspace">
  <div class="profile_user_info">
    <br><span class='parkingsize'><%= @user.first_name %><span class='kingweight'> <%= @user.last_name %></span></span>
    <p>Email: <%= @user.email %></p>
    <p>Wallet: $<%= current_user.wallet %></p>
  </div>
  <%= link_to "Edit Account", edit_user_form_path, class: 'edit_form_link', id: "edit", :remote => true %>
  <%= link_to "Delete Account", "/users/#{@user.id}", method: :delete, data: {confirm: "Are you sure you want to delete your account? This will also delete any existing listings and bookings!"} %>
  <%= link_to "My Listings", show_user_listings_path, class: 'show_listings_link', remote: true %>
  <%= link_to "Booking History", show_user_bookings_path, class: 'show_bookings_link', remote: true %>
  <div class="user_partial">

  </div>
  <div class="review_form">

  </div>

</div>
