<div class="homepage_container">

  <div class="book">
    <%= link_to "Book", listing_search_form_path %>
  </div>

  <div class="rent">
    <a href="#">Rent</a>
  </div>

  <div class="new_user">
    <%= form_for @user do |f| %>
      <button type="button" class="close">x</button>
      <div class="field">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name %>
      </div>

      <div class='field'>
        <%= f.label :email %><br>
        <%= f.email_field :email %>
      </div>

      <div class='field'>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>

      <div class='field'>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %>
      </div>

      <%= f.submit 'Sign Up' %>

    <% end %>
  </div>

  <div class="login">
  <%= form_for :sessions, url: sessions_path do |f| %>
    <button type="button" class="close">x</button>
    <div class='field'>
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>

    <div class='field'>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>

    <%= f.submit 'Login' %>

  <% end %>
</div>
