<!DOCTYPE html>
<html>
  <head>
    <title>PARK♛KING</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfwQJn9-quCut5Srf4IA8Zt78ZFlc6aU&callback=initMap">
    </script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfwQJn9-quCut5Srf4IA8Zt78ZFlc6aU&callback=initMap">
    </script>
  </head>
  <body class="<%= params[:controller] %> <%= params[:action] %>">
    <header class="header">
        <h1><%= link_to "PARK♛KING", root_url %></h1>
        <div class="topnav div">
        <nav class="topnav">
          <ul class="topnav links">
            <% if current_user %>
              <li id="profile_link" class="profile_link" ><%= link_to "Hi " + current_user.first_name + "!", user_path(current_user.id) %></li>
              
              <li><%= link_to "Logout", sessions_path, method: :delete %></li>
              <li><%= link_to 'Listings', listings_path %></li>
            <% else %>
              <li><a href="#" class="login_link">Login</a></li>
              <li><a href="#" class="new_user_link">Register</a></li>
            <% end %>
            <li><%= link_to "About", "/about" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container">
      <%= yield %>
      <div class="login">
        <%= form_for :sessions, url: sessions_path do |f| %>
        <button type="button" class="close">x</button>
        <div class='field'>
          <%= f.label :email %><br>
          <%= f.email_field :email %>
        </div>

        <div class='field'>
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </div>

        <%= f.submit 'Login' %>

        <% end %>
      </div>
      <div class="new_user">
        <%= form_for User.new do |f| %>
          <button type="button" class="close">x</button>
          <div class="field">
            <%= f.label :first_name %><br>
            <%= f.text_field :first_name %>
          </div>

          <div class="field">
              <%= f.label :last_name %><br>
              <%= f.text_field :last_name %>
          </div>

          <div class='field'>
            <%= f.label :email %><br>
            <%= f.email_field :email %>
          </div>

          <div class='field'>
            <%= f.label :password %><br>
            <%= f.password_field :password %>
          </div>

          <div class='field'>
            <%= f.label :password_confirmation %><br>
            <%= f.password_field :password_confirmation %>
          </div>

          <%= f.submit 'Sign Up' %>

        <% end %>
      </div>
    </main>

  </body>
</html>
