<!DOCTYPE html>
<html>
<head>

  <title>parKing</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfwQJn9-quCut5Srf4IA8Zt78ZFlc6aU&callback=initMap">
</script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <main class="main-container">
    <header class="header">
      <div class="header-container">
        <%= link_to "<span class='parkingsize'>p a r <span class='kingweight'>K i n g</span></span>".html_safe, root_url %>
        <nav class="topnav">

          <% if current_user %>
          <span class="homepage_avatar">
            <%= image_tag current_user.avatar.url(:thumb) %>
            <%= link_to "Welcome #{current_user.first_name.upcase}", user_path(current_user.id), id: 'profile-link' %>
            <span id="funds">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Funds: $ <%= current_user.wallet %>0 </span>
          </span>
          <ul class="topnav links">
            <li class="sub-menu-parent">
              <div class="side-bar">
                <a id="dashboard">
                  <%=fa_icon "navicon"%>
                </a>
              </div>

              <ul class="sub-menu">

                <li id= "drop"><%= link_to "Profile", user_path(current_user.id)%></li>
                <li id= "drop"><%= link_to "Mailbox", conversations_path %></li>
                <li id= "drop"><%= link_to 'Listings', user_listings_path %></li>
                <li id= "drop"><%= link_to 'Bookings', user_bookings_path %></li>
                <li id= "drop"><%= link_to "Logout", sessions_path, method: :delete %></li>

              </ul>
            </li>
          </ul>

          <% else %>

          <ul class="topnav links">
            <li class="sub-menu-parent">
              <div class="side-bar">
                <a id="dashboard">
                  <%=fa_icon "navicon"%>
                </a>
              </div>
              <ul class="sub-menu">

                <li id= "drop"><a href="#" class="login_link">Login</a></li>
                <li id= "drop"><a href="#" class="new_user_link">Register</a></li>
                <li id= "drop"><%= link_to "About", "/about" %></li>

              </ul>
            </li>
          </ul>

          <% end %>

        </nav>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <div class="column-left">
        <div class="footer-container">
          <%= link_to "<span class='parkingsize'>p a r <span class='kingweight'>K I N G</span></span>".html_safe, root_url %>
        </div

        <ul class="sub-menu">
          <li><%= link_to "About us", "/about" %></li>
          <li><%= link_to "Careers", "/careers" %></li>
          <li><%= link_to "Press", "/press" %></li>
          <li><%= link_to "Policies", "/policies" %></li>
          <li><%= link_to "Help", "/help" %></li>
        </ul>
      </div>
      <div class="column-center">
        <div class="footer-container">
          <% if current_user %>
            <%= link_to "<span class='parkingsize'>g o<span class='kingweight'> B O O K</span></span>".html_safe, listing_search_form_path %>
          <% else %>
            <a href="#" class="login_link"><span class='parkingsize'>g o<span class='kingweight'> B O O K</span></span></a>
          <% end %>
        </div

        <ul class="sub-menu">
          <li><%= link_to "About us", "/about" %></li>
          <li><%= link_to "Careers", "/careers" %></li>
          <li><%= link_to "Press", "/press" %></li>
          <li><%= link_to "Policies", "/policies" %></li>
          <li><%= link_to "Help", "/help" %></li>
        </ul>
      </div>
      <div class="column-right">
        <div class="footer-container">
          <% if current_user %>
            <%= link_to "<span class='parkingsize'>g o<span class='kingweight'> L I S T</span></span>".html_safe, new_listing_path %>
          <% else %>
            <a href="#" class="login_link"><span class='parkingsize'>g o<span class='kingweight'> L I S T</span></span></a>
          <% end %>
        </div

        <ul class="sub-menu">
          <li><%= link_to "About us", "/about" %></li>
          <li><%= link_to "Careers", "/careers" %></li>
          <li><%= link_to "Press", "/press" %></li>
          <li><%= link_to "Policies", "/policies" %></li>
          <li><%= link_to "Help", "/help" %></li>
        </ul>
      </div>

    </footer>
  </main>
  <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr3nhHy09e35tjPKuUo2iYc7F2p5ycoj0&libraries=places&callback=initMap"></script>
</body>
</html>
