<!DOCTYPE html>
<html>
  <head>
    <title>PARK♛KING</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfwQJn9-quCut5Srf4IA8Zt78ZFlc6aU&callback=initMap">
    </script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxfwQJn9-quCut5Srf4IA8Zt78ZFlc6aU&callback=initMap">
    </script>
  </head>
  <body class="<%= params[:controller] %> <%= params[:action] %>">
    <header class="header">
        <h1><%= link_to "PARK♛KING", root_url %></h1>
        <div class="topnav div">
        <nav class="topnav">
          <ul class="topnav links">
            <% if current_user %>
              <li id="profile_link" class="profile_link" ><%= link_to "Hi " + current_user.first_name + "!", user_path(current_user.id) %></li>
              <li><%= link_to "Logout", sessions_path, method: :delete %></li>
              <li><%= link_to 'Listings', listings_path %></li>
            <% else %>
              <li><a href="#" class="login_link">Login</a></li>
              <li><a href="#" class="new_user_link">Register</a></li>
            <% end %>
            <li><%= link_to "About", "/about" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
